<!DOCTYPE html>
<html>
  <head>
    <title>Study Group Creation Form</title>
  </head>
    <body>
      <div class="jumbotron text-center" style="background-color: navy">
        <h1 style="text-align:center; color:White" > Study Group Creation Form </h1>
      </div>
      <form action="post_group" method="post">
         <div style="text-align:center" style="background-color: gold">
        <div>
          <label for="course">Course:</label>
          <input type="text" id ="class" name="group_class">
        </div>
        <div>
          <label for="location">Location:</label>
          <input type="text" id="location" name="group_location">
        </div>
        <div>
          <label for="capacity">Capacity:</label>
          <input type="text" id="capacity" name="group_capacity">
        </div>
        <div>
          <label for="time">Time:</label>
          <input type="text" id="time" name="group_time">
        </div>
        <div>
          <label for="studystrategies">Study Strategies:</label>
          <input type="text" id="studystrategies" name="group_strategies">
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
