<!DOCTYPE html>
<html>
<head>
	<title>My Groups</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		h1 {
	      margin-top: 50px;
	      margin-bottom: 50px;
	      font-family: "Georgia", serif;
	    }
		#my_groups {
	    height: 80px;
	    width: 160px;
	    font-family: "Georgia", serif;
	    font-size: 20px;
	    margin-bottom: 50px;
    }
	</style>


</head>
<body>
	<div class="jumbotron text-center" style="background-color: navy">
    	<h1 style="text-align:center; color:White">My Groups</h1>
  	</div>
	<div class="container-fluid" style="text-align:right">
	    <button id="my_groups" type="button">Add New Group</button>
	</div>    
</body>
</html>